@import "tailwindcss";

html,
body,
#root {
    background-color: #050505;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.font-omen-title {
    font-family: "Cinzel Decorative", serif;
}

.font-omen-body {
    font-family: "Crimson Pro", serif;
}

